target/
*.class
.idea/
.vscode/
.DS_Store
Dockerfile
.dockerignore
.env
.env
target/
.m2/
compose-final.txt
config-base.txt
config-override.txt
scan.txt
compose-final.txt
config-base.txt
config-override.txt
scan.txt
src/main/resources/application-local.properties
